@import url(./reset.css);

html,
body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
}
[class*=__container]{
    max-width: 1920px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ARROW */

._grow{
    transform: rotate(180deg);
}

._red{
    color: rgb(238, 52, 97);
    fill: rgb(238, 52, 97);
}
._yellow{
    color: rgb(241, 174, 0);
}
._fall{
    transform: rotate(0deg);
}
  
/* HEADER */

.header__container {
    padding-top: 60px;
    padding-bottom: 43px;
}
.header__info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.info__item {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
}

.info__item:not(:first-child):before{
    content: '';
    display: block;
    width: 1px;
    height: 37px;
    background-color: rgb(206, 205, 200);
}
  
.info__item-wrapper {
    max-width: 288px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.info__text {
    display: block;
    font-size: 13px;
    color: rgb(128, 128, 128);
    line-height: 1.385;
      
}
.info__value {
    font-size: 24px;
    font-weight: 700;
    line-height: 0.75;
    display: flex;
    column-gap: 6px;
}
.diff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.diff__arrow {
    height: 8px;
    width: 6px;
      
}
.diff__value {
    font-size: 12px;
    font-weight: 600;
}


@media(max-width: 1000px) {
.header__container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.info__item{
    justify-content: center;
    column-gap: 0;
}
.info__item-wrapper{
    align-items: center;
}
}
@media (min-width: 480px) and (max-width: 1000px) {
    .header__info {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
    .info__item:nth-child(3n-2):before{
        display: none;
    }
}

@media (max-width: 480px) {
    .info__item-wrapper{
        row-gap: 5px;
    }
    .header__info {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        justify-items: center;
    }
    .info__item:nth-child(1n):before{
        display: none;
    }
    .info__text{
        font-size: 10px;
    }
    .info__value-number {
        font-size: 19px;
    }
    .diff__value {
        font-size: 9px;
    }
}

/* MAIN */

.main__wrapper {
    /* max-height: 575px; */
    height: 575px;
    background-color: rgb(225, 225, 225);
    text-align: center;
    display: flex;
    align-items: center;
}
.main__no-data {
    display: block;
    margin: auto;
    font-size: 13px;
    line-height: 1.2;
    color: rgb(160, 160, 160);
    font-weight: 400;
}
  
/* FOOTER */

.footer____container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding-top: 42px;
    gap: 31px;
}

.footer__title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin-bottom: 15px;
}

.footer__table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}
.footer__table > thead{
    font-weight: 300;
    font-size: 11px;
    color: rgb(160, 160, 160);
    line-height: 1.2;

}

.footer__table tr{
    border-bottom: 1px solid rgb(160, 160, 160);;
}
tbody {
    font-size: 12px;
    font-weight: 600;
}
td{
    padding: 5px 0 3px 0;
}
.user-table tr td:nth-child(2){
    display: flex;
    justify-content: flex-end;
}

.user-table th:nth-child(1){
    text-align: left;
}
.user-table th:nth-child(2){
    text-align: right;
}
.user-table__row {
    display: flex;
    justify-content: space-between;
    max-width: 148px;
    width: 100%;
}
.user-table__item {
    max-width: 59px;
    width: 100%;
    text-align: right;
}

.user-table__mark{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}
.mark_pink{
    border: 1px solid rgb(255, 0, 114);
    background-color: rgb(255, 0, 114);
}
.mark_yellow{
    border: 1px solid rgb(214, 152, 19);
    background-color: rgb(214, 152, 19);
}
.mark_green{
    border: 2px solid rgb(139, 200, 52);
    background-color: rgb(139, 200, 52);
}

._circle{
    background-color:transparent;
}

._opacity{
    color:rgba(128, 128, 128, 0.63)
}
.category-table th:nth-child(1) {
    text-align: left;
}
.category-table th:nth-child(2) {
    text-align: right;
    white-space: nowrap;
}
.category-table__category {
    max-width: 0px;
}
.category-table__category ~ td{
    width: 30.5%;
    text-align: right;
}
.category-table__category-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.category-table__row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    column-gap: 6px;
}
.category-table__value {
    display: block;
    line-height: 0.9;
}
.category-table__diff {
    display: flex;
    flex-direction: column;
}
.category-table__arrow {
    width: 8px;
    height: 6px;
}

.category-table__diff-value {
    display: block;
    font-size: 8px;
    line-height: 1;
}
  
  ._green{
    fill: rgb(139, 200, 52);
    color: rgb(139, 200, 52);
  }
  ._pink{
    fill: rgb(255, 0, 114);
    color: rgb(255, 0, 114);
  }


.discip-table__title > *:first-child{
    text-align: left;
    width: 30%;
    padding-left: 0%;

}
.discip-table__title > *:last-child{
    text-align: right;
    width: 1%;
    padding-left: 0%;
}
.discip-table__title th{
    text-align: left;
    width: 30%;
    padding-left: 3%;
}


.discip-table__row > :last-child {
    text-align: center;
}
.discip-table__row-diff {
    margin-left: 5px;
    font-size: 11px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer____container{ 
     
        /* grid-template-rows: 1fr 1fr; */
        grid-template-columns: 1fr 1fr;
        
     }
       
     .footer__item:nth-child(3) {
        grid-row-start: 2;
        grid-column-start: 1;
     
        grid-row-end: 3;
        grid-column-end: 3;
        
     }
}

@media (max-width: 767px) {
    .footer____container{ 
        grid-template-columns: repeat(1, 1fr);
     }
}
@media (max-width: 480px) {
    tbody{
        font-size: 10px;
        font-weight: 600;
    }
    .discip-table__row-diff{
        font-size: 7px;
        margin-left: 2px;
    }
    .user-table__mark{
        width: 8px;
        height: 8px;
    }
    ._circle{
        border-width:1px;
    }
    .footer__title{
        margin-bottom: 8px;
    }
    .category-table th:nth-child(2){
        white-space: break-spaces;
    }
    .discip-table__title > *:last-child{
        white-space: break-spaces;
        text-align: center;
    }

}
@media (max-width: 320px) {
    .discip-table__title th {
        min-width: 70px;
    }
    .footer__item {
        overflow-x: scroll;
    }
}